.body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    min-width: 200px;
    min-height: 50px;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}

.body.active {
    display: flex;
    justify-content: center;
    align-items: center;
}