* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    width: 800px;
    margin: 10px;
}


/* select {
    margin:0 20px;
    border: 2px solid blue;
    width: 150px;
    height: 30px;
} */

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(350px);
    transition: all 500ms ease-in;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 20px;
}

.pageItem {
    padding: 10px;
    border: 1px solid rgba(0, 255, 255, 0.658);
    cursor: pointer;
}

.activePage {
    background: rgba(0, 255, 255, 0.658);
}